.wrapper {
  font-size: 0.9em;
  color: var(--text-secondary);

  :global .row {
    margin-top: 1em;
  }

  p {
    line-height: 1.5em;
  }
}

.icons {
  text-align: center;
  margin-top: 1em;
  font-size: 2.5em;

  a {
    margin-right: 0.5em;
  }
}
