@import './variables';

.button {
  color: var(--text-color);
  border: none;
  border-radius: 1em;
  outline: 0 !important;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  box-shadow: 0 0.2em 0.25em rgba(0, 0, 0, 0.5), inset 0 0.1em rgba(255, 255, 255, 0.3);

  padding: 0.8em 1.2em;

  &[data-variant*="highlight"] {
    background-color: $highlight-color;
  }

  &[data-variant*="yellow"] {
    background-color: $color-yellow;
  }

  &[data-variant*="blue"] {
    background-color: $color-blue;
  }

  &[data-variant*="small"] {
    padding: 0.6em 0.8em;
  }

  &[data-variant*="normal"] {
    padding: 0.75em 1em;
  }

  &[disabled] {
    opacity: 0.5;
    cursor: default;
    box-shadow: none;
  }

  &:active {
    box-shadow: 0 0.2em 0.25em rgba(0, 0, 0, 0.5), inset 0 0.25em 0.5em rgba(0, 0, 0, 0.3);
  }
}
