@import './variables.scss';

.wrapper {
  margin: 2em;
  padding: 1em;
  background: var(--background-color);
  border-radius: 1em;
  box-shadow: 0 0.75em 3em rgba(#000, 0.3);
}

.header {
  display: flex;
  align-items: center;
  position: relative;
  padding-bottom: 1em;
  margin-bottom: 1em;

  :after {
    content: '';
    position: absolute;
    bottom: 0.1em;
    left: 0;
    right: 0;
    height: 0.1em;
    background-color: currentColor;
    opacity: 0.2;
  }
}