@import './variables.scss';

.tabs {
  :global {
    .react-tabs__tab-list {
      display: flex;
      padding: 0.5em;
      background: rgba(#000, 0.2);
    }

    .react-tabs__tab {
      list-style-type: none;
      padding: 0.5em 2em;
      border-radius: 0.25em;
      cursor: pointer;
      text-transform: uppercase;
      font-family: var(--font-family-mono);
      font-size: 0.8em;

      &--selected {
        background: $highlight-color;
        color: $color-dark;
      }
    }


    .react-tabs__tab-panel {
      display: none;
      background: rgba(#000, .1);

      &--selected {
        display: block;
      }
    }
  }
}
