@import './variables.scss';

.plot {
  border: none !important;
  color: var(--text-secondary);
}

.plot :global {
  [role="columnheader"],
  .public_fixedDataTable_header,
  .public_fixedDataTable_hasBottomBorder {
    background: var(--background-primary);
  }

  .public_fixedDataTable_scrollbarSpacer {
    background: var(--background-primary);
  }

  .public_fixedDataTable_footer .public_fixedDataTableCell_main {
    background: var(--highlight-color);
    border-color: var(--background-secondary);
  }

  .public_fixedDataTable_horizontalScrollbar .public_Scrollbar_mainHorizontal,
  .public_fixedDataTableRow_main {
    background: var(--background-primary);
  }

  .public_fixedDataTableRow_main {
    cursor: pointer;

    &:hover {
      background: var(--background-primary);
    }
  }

  .public_fixedDataTableCell_main {
    background: var(--background-primary);
  }

  .public_fixedDataTableCell_highlighted,
  .public_fixedDataTableRow_highlighted,
  .public_fixedDataTableRow_highlighted .public_fixedDataTableCell_main {
    background: var(--background-color);
  }

  .public_fixedDataTableCell_cellContent {
    padding: 0.7em;
    font-size: 0.7em;
  }

  .public_fixedDataTable_header .public_fixedDataTableCell_main {
    font-family: var(--font-family-mono);
    color: var(--text-color);
    text-transform: uppercase;
    font-weight: normal;
  }

  .public_Scrollbar_main,
  .public_Scrollbar_mainOpaque:hover,
  .public_Scrollbar_faceActive:after {
    border: none;
    background: var(--background-primary);
  }

  .public_Scrollbar_face:after {
    background: var(--background-secondary);
  }
}

.muted {
  color: var(--text-secondary);
}
